.headlineContainer {
    position: relative;
    height: 100%;
    .headline {
        font-size: 34px;
        letter-spacing: 0.25px;
        font-weight: normal;
        display: flex;
        align-items: center;
        height: 100%;
    }

}
