.contentBlock {
    background: white;
    color: black;
    position: absolute;
    cursor: pointer;
    overflow: hidden;
}

.selected {
    outline: 2px dashed dodgerblue;
    z-index: 1;
}
