.contentBlock {
    background: white;
    color: black;
    position: absolute;
    cursor: pointer;
    .headline {
        font-size: 2.25rem;
        font-weight: bold;
        padding: 0.5rem 1rem;
        display: flex;
        align-items: center;
        height: 100%;
    }
    .dragIconContainer {
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        left: -36px;
        cursor: move;
    }
    .deleteIconContainer {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        cursor: pointer;
        .deleteIcon {
            font-size: 1rem;
            color: red;
        }
    }
}

.selected {
    border: 2px dashed crimson;
}