@import "./variables.module.scss";

.container {
    margin-top: $header-height;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    width: 90vw;
    position: relative;
    background: #FBFBFB;
    border-right: 1px solid rgb(185, 185, 185);
    border-left: 1px solid rgb(185, 185, 185);
    box-shadow: 0 0 6px -1px rgba(0, 0, 0, 0.35);
}
