.container {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    width: 90vw;
    margin-left: 2.5vw;
    overflow-y: hidden !important;
    position: relative;
    background: white;
}
