.pageTemplateEditorHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    background-color: #ffffff;
    border-bottom: 1px solid rgb(185, 185, 185);
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.35);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    .innerContainer {
        width: 90vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        input, h1 {
            font-size: 2rem;
            font-weight: 500;
        }
        h1 {
            padding-right: 5rem;
            cursor: pointer;
        }
        .buttonContainer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 18rem;
        }
    }
}