.gridSquare {
    position: relative;
    width: 100%;
    grid-column: span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e0e0e0;
    color: #9a9a9a;
    &::before {
        content: '';
        display: block;
        padding-top: 100%;
        visibility: hidden;
    }
}
