.headlineContainer {
    position: relative;
    height: 100%;
    display: flex;
    .headline {
        width: 100%;
        font-size: 34px;
        letter-spacing: 0.25px;
        font-weight: 300;
        align-items: flex-end;
        overflow: hidden;
    }
}
