.headlineContainer {
    position: relative;
    height: 100%;
    display: flex;
    .headline {
        width: 100%;
        font-size: 2rem;
        font-weight: 300;
        align-items: flex-end;
        overflow: hidden;
    }
    .headlineEditable {
        padding: 0;
        border: none;
    }
}
