.slideshowContainer {
    height: 100%;
    width: 100%;
    object-fit: cover;
    padding: 0.5rem;
}

.slideshowButtons {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.slideshowContent {
    height: calc(100% - 50px);
    width: 100%;
    & > div:first-child {
        height: 100%;
        width: 100%;
        & div {
            height: 100%;
            width: 100%;
            & img {
                height: calc(100% - 5px);
                width: 100%;
                object-fit: cover;
            }
        }
    }
}
