.textContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0 0 0.5rem 0;
    .textContent {
        width: 100%;
        text-align: justify;
    }
    p {
        padding: 0.5rem;
    }
}
