@import "src/common/variables.module.scss";

.toolMenu {
    background-color: #fff;
    border: 1px solid #d6d6d6;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 25px;
    overflow: hidden;
    z-index: 3;
    position: fixed;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem;
    transition: 0.2s;
    
    &.hidden {
        bottom: calc(-40px - 3rem);
    }

    .separator {
        width: 2px;
        height: 40px;
        background: $separator-color;
        margin: 0 0.75rem;
    }

    button {
        margin: 0 0.75rem;
    }
}

.toggleToolMenu {
    width: 60px;
    height: 30px;
    background: white;
    position: fixed;
    bottom: calc(3rem - 29px);
    border: 1px solid #d6d6d6;
    border-top: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 40px 40px;
    color: $blue;
    cursor: pointer;

    &.animate {
        animation: showToolMenu 0.2s forwards;
    }

    &.open.animate {
        animation: hideToolMenu 0.4s forwards;
    }
    
    svg {
        width: 1.75em;
        height: 1.75em;
    }
}

@keyframes hideToolMenu {
    0% {
        bottom: calc(3rem - 29px);
    }
    50% {
        bottom: calc(-40px - 3rem);
        transform: translateX(-50%);
    }
    55% {
        bottom: calc(-40px - 3rem);
        transform: rotate(180deg) translateX(50%);
    }
    100% {
        bottom: 0;
        transform: rotate(180deg) translateX(50%);
    }
}

@keyframes showToolMenu {
    0% {
        bottom: 0;
        transform: rotate(180deg) translateX(50%);
    }
    1% {
        bottom: calc(-40px - 3rem);
        transform: rotate(0deg) translateX(-50%);
    }
    100% {
        bottom: calc(3rem - 29px);
    }
}